.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}

.pagination-container button {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 55px;
    text-decoration: none;
    transition: background-color .2s;
    border: 2px solid #ddd;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    margin: 15px 5px;
}

.pagination-container button.active {
    background-color: #008080;
    color: white;
    border: 2px solid #7cbddb;
}

.pagination-container button.disabled {
    opacity: 0.5;
}
.pagination-container button:hover:not(.active) {background-color: rgb(238, 238, 238);}