td, th {
    border: 1px solid black;
}

th {
    text-align: center;
    cursor: pointer;
    background-color: #40E0D0 ;
    font-family: 'Lora', serif;
}

tr {
    cursor: pointer;
}

td {
    font-family: 'Tajawal', sans-serif;
    text-align: center;
}

.table {
    border-collapse: collapse;
    margin: 0 auto;
}

.arrow-rotate-id,
.arrow-rotate-firstName,
.arrow-rotate-lastName,
.arrow-rotate-email,
.arrow-rotate-phone,
.arrow-rotate-state{
    transform: rotate(180deg);
}

.hidden {
    display: none;
}